@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-Book.eot');
    src: url('FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('FuturaPT-Book.woff') format('woff'),
    url('FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    ::-webkit-scrollbar{
        width: 8px;
        margin-left: -5px;
    }
    ::-webkit-scrollbar-track{
        background-color: black;
        height: 70%;
        
    }
    ::-webkit-scrollbar-thumb{
        width: 8px;
        background-color: #478BF9;
        border-radius: 8px;
        border: 0px solid ;
    }
*,
::before, 
::after{
    box-sizing: border-box;
}
.wrapper{
    max-width: 1550px;
    margin: 0 auto;
}
input,
textarea {
  outline: none;
  border-width: 0px;
}
textarea {
  resize: none; 
}
a {
    text-decoration: none;
    color: white;
  }
  ul {
    list-style: none;
  }
body{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 16px;
    background-color: #110A1D;
    overflow-x: hidden;
    position: relative;
    z-index: -10;
}
.burger-menu{
    position: absolute;
    width: 100%;
    height: 110vh;
    background-color:#110A1D;
    z-index: 100;
    margin-top: -10px;
    border-color: aliceblue;
}
/* burger-list */
.list-burger{
    width: 100%;
    padding: 13px 20px ;
    margin-top: 80px;
    text-align: left;
}
.list-burger>li{
    border-radius: 28px;
    border: 2px solid  #478BF9;
    width: 100%;
    padding: 13px 20px ;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}
.hidden{
    display: none;
}
.burger-btn-log {
    margin: 0 auto;
    width: 90%;
    background-color: #110A1D;
}
.burger-btn-log>button {
    border-radius: 28px;
    border: 2px solid  #478BF9;
    width: 100%;
    padding: 13px 20px ;
    background-color: #110A1D;
    color: white;
}
.burger-btn-log>button:hover{
    background-color: #478BF9;
}
.burger-btn-reg {
    margin: 0 auto;
    width: 90%;
    background-color: #110A1D;
}
.burger-btn-reg>button {
    margin-top: 5px;
    border-radius: 28px;
    border: 2px solid  #478BF9;
    width: 100%;
    padding: 13px 20px ;
    background-color: #110A1D;
    color: white;
}
.burger-btn-reg>button:hover{
    background-color: #478BF9;
}
/* =======================================burger is  ending here========================= */
/* Header */
.header{
    width: 100%;
    border-radius: 64px;
    border: 4px solid  #478BF9;
    z-index: 100;
    position: relative;
    background-color: #110A1D;
    margin: 0 auto;
    top: 10px;
}
/* ===============burger=================== */
.flex-burger{
    display: none;
}
.circle-world {
    width: 34px;
    height: 34px;
    padding: 8px;
    border-radius: 24px;
    border: 2px solid  #9DADF2;
    background:  #110A1D;
}
.planet-icon{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 20px;
    background-image: url("../icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.burger {
    margin-top: 3px;
    padding: 4px;
    width: 28px;
    height: 28px;
    background-image: url("../ic_round-menu.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 4px;
}
.close-burger{
    background-image: url("../Close.png");
}
/* ===============burger=================== */
.header-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    color:pink;
    font-weight: 700;
    font-style: italic;
    width: 60px;
    height: 20px;
}
.logo>p{
    color: #110A1D;
}
.header-list {
    
}
.list-items {
    display: flex;
    justify-content: space-between;
}
.item {
    margin-left: 30px;
}
.item1{
    margin-left: 0px;
}
.lang-in-out {
    display: flex;
    justify-content: center;


}
.lang {
    display: flex;
    justify-content: space-between;
    min-width: 40px;
    border-radius: 24px;
    border: 2px solid  #9DADF2;
    padding: 14px;
    position: relative;
}
.lang>img{
    display: block;
}
.lang>span{
    display: block;
    margin-left: 8px;
}

.before_p::before{
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('../icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 16px;
}

.in {
    min-width: 60px;
    border-radius: 24px;
    border: 2px solid  #9DADF2;
    padding: 14px;
    margin-left: 14px;
}
.out {
    min-width: 60px;
    border-radius: 24px;
    border: 2px solid  #9DADF2;
    padding: 14px;
    margin-left: 14px;
}
.lang:hover{
    background-color: #478BF9;
    cursor: pointer;
}
.in:hover{
    background-color: #478BF9;
    cursor: pointer;
}
.out:hover{
    background-color: #478BF9;
    cursor: pointer;
}
/* ===================================main page========================================================== */

.main{
    min-height: 90vh;
}
.flex-main_page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
}
.main-page-item1{
    display: flex;
    flex-direction: column;
}
.main-page-item1>h1{
    font-size: 96px;
}
.elem{
    font-size: 96px;
    color: #478BF9;
}
.elem2{
    color: rgba(255, 255, 255, 0.60);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-top: -40px;
}
.btn-main-page{
    margin-top: 48px;
    width: 393px;
    height: 72px;
    border-radius: 48px;
    background:  #478BF9;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border-width: 0px;
    color: white;
}
/* ==================================================hidden animation till 950px================ */
.flex-miny {
    display: none;
    flex-direction: column;
    margin-top: 32px;
    z-index: 10;
    width: 100%;
    margin-top: 32px;
}
.road1-1 {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 54px;
    /* background-color:rgb(111, 0, 255); */
    animation-name: road-move-mobile1;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.road2-2 {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 54px;
    overflow-x: hidden;
    /* background-color:rgb(255, 0, 93); */
    margin-top: 8px;
    opacity: 40%;
    animation-name: road-move-mobile2;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.road3-3 {
    display: flex;
    flex-direction: row;
    width:100%;
    opacity: 20%;
    height: 54px;
    overflow-x: hidden;
    /* background-color:rgb(255, 0, 8); */
    margin-top: 8px;
    animation-name: road-move-mobile3;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.road1-item-short{
    width: 50px;
    height: 50px;
    margin-left: 8px;
}
.road1-item-long{
    width: 110px;
    height: 50px;
    margin-left: 8px;
}
/* ==================================================hidden animation till 950px================ */
.move-banner{
    display: flex;
    position: absolute;
    top: 20px;
    left: 616px;
    z-index: -10;
}
.hide{
    display: none;
}
.hide3{
    display: block;
}
.road1 {
    width: 100px;
    /* background-color: tomato; */
    display: flex;
    margin-top: -50px;
    flex-direction: column;
    overflow-y:hidden;
    min-height:1350px;
    opacity: 20%;
    animation-name: road-move2;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.road2 {
    display: flex;
    flex-direction: column;
    overflow-y:hidden;
    min-height:1300px;
    margin-left: 16px;
    width: 100px;
    /* background-color: tomato; */
    animation-name: road-move1;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

}
.road3 {
    display: flex;
    flex-direction: column;
    overflow-y:hidden;
    min-height:1380px;
    margin-left: 16px;
    width: 100px;
    /* background-color: tomato; */
    opacity: 40%;
    animation-name: road-move2;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
/* =================================================animation=================================== */
@keyframes road-move1{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(2%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes road-move2{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-2%);
    }
    100%{
        transform: translateY(0%);
    }
}
/* =================================================animation=================================== */
.scroll-blog-flex{
    margin-left: 60px;
    margin-top: 33px;
}
.scroll-blog-flex>h1{
    text-align: center;
}
.scroll-blog{
    padding-top: 60px;
    padding-right: 40px;
    padding-bottom: 60px;
    display:flex;
    flex-direction: column;
    width: 531px;
    height: 680px;
    border-radius: 100px;
    border: 3px solid  #478BF9;
    background:  rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    z-index: -10;
}

.msg-texts-flex {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll ;
    
}
.text-flex {
    border-radius: 196px;
    width: 80%;
    background:  #1E1231;
    padding: 16px 64px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    transition: 0.5s ease;
    z-index: 10;
}
.text-flex1{
     border-radius: 196px;
     margin-top: 16px;
     width: 80%;
     background:  #1E1231;
     padding: 16px 64px;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     transition: 0.5s ease;
}
.text-flex:hover{
    background-color: #478BF9;
}
.text-flex1:hover{
    background-color: #478BF9;
}
.text-flex>p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.com-data{
    font-family: 'Futura PT Book';
    font-size: 14px!important;
    font-style: normal;
    font-weight: 450;
    color:rgba(255, 255, 255, 0.60);
}
/* =====================================Animated block============================ */
.item-img-short {
    width: 99px;
    height: 99px;
    margin-top: 24px;
}
.item-img-long {
    width: 99px;
    height: 220px;
    margin-top: 24px;
}

/* =====================================marks======================= */
.shield{
    background-image: url('../Shield.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.dollar{
    background-image: url('../$.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.soccer{
    background-image: url('../Soccer.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.m{
    background-image: url('../m.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.world{
    background-image: url('../World.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.timer{
    background-image: url('../Timer.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.crown{
    background-image: url('../Crown.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.putworld{
    background-image: url('../world-puton.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.dollarput{
    background-image: url('../dollar-put.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
/* =====================================marks======================= */
/* =====================================Animated block============================ */
/* .main-page-item1>p{
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
} */
/* ============================================================footer============================================ */
.footer{
    border-radius: 64px 64px 0px 0px;
    border: 4px solid  #478BF9;
    border-width: 4px 4px 0px 4px;
    margin-top: 270px;
    background-color: #110A1D;
}
.wrapper-footer{
    padding-top: 40px;
    padding-bottom: 14px;
    max-width: 1240px;
    margin: 0 auto;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
}
.footer-social{
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}
.footer-social2{
    display: none;
    margin-left: 38px;
}
.footer-list_items{
    display:flex;
}
.footer-item{
    margin-left: 40px;
}
.footer-item>a:hover{
    text-decoration: underline;
    color:#478BF9 ;
}
.footer-item1>a:hover{
    text-decoration: underline;
    color:#478BF9 ;
}
.flex-social-net{
    display: flex;

}
.social-networks{
    width: 32px;
    height: 32px;
    background-image: url('../vector.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-left: 8px;
}
.social-networks:hover{
    opacity: 80%;
}
.social-networks1:hover{
    opacity: 80%;
}
.social-networks1{
    width: 32px;
    height: 32px;
    background-image: url('../vector.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.soc-twiter{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../Twitter.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.soc-facebook{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../Facebook.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.soc-inst{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../Instagram.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.soc-in{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../LinkedIn.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.soc-youtube{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../YouTube.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.soc-tick{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../TikTok.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.soc-tel{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../Telegram.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.soc-vk{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../VK.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

/* =======================================Адаптив сайта===================================== */

@media (max-width: 1390px) {
    .move-banner {
        left: 439px;
    }
    .wrapper-footer{
        max-width: 1340px;
    }
    .wrapper{
        max-width: 1340px;
        margin: 0 auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    body{
        font-size: 14px;
    }
    .text-flex1{
        font-size: 18px;
    }
    .text-flex{
        font-size: 18px;
    }
    .text-flex>p{
        font-size: 18px;
    }
    .main-page-item1>h1 {
        font-size: 70px;
    }
    .elem {
        font-size: 70px;
    }
    .elem2 {
        font-size: 24px;
    }
    .btn-main-page {
        margin-top: 48px;
        width: 300px;
        height: 65px;
        border-radius: 48px;
        background: #478BF9;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        border-width: 0px;
        color: white;
    }
    .footer-social {
        margin-right: 10px;
    }
    .flex-social-net {
        display: flex;
        margin-right: 10px;
    }
}
@media (max-width: 1050px) {
    .wrapper-footer{
        max-width: 1020px;
    }
    .wrapper{
        max-width: 1020px;
    }
    .header-flex {
        display: none;
    }
    .header {
        padding: 10px 14px;
        width: 100%;
    }
    .flex-burger{
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    
    .scroll-blog {
        width: 410px;
    }
    .text-flex1{
        font-size: 14px;
    }
    .text-flex{
        font-size: 14px;
    }
    .text-flex>p{
        font-size: 14px;
    }
    /* ===========banner=============== */
    .road1{
        width: 50px;
        
    }
    .road2{
        width: 50px;
        
    }
    .road3{
        width: 50px;
    }
    .item-img-short {
        width: 48px;
        height: 48px;
        margin-top: 24px;
    }
    .item-img-long {
        width: 48px;
        height: 110px;
        margin-top: 24px;
    }
    .hide{
        display: block;
        opacity: 21%;
    }
    /* ===========banner=============== */
    /* footer */
    /* .footer-list_items{
        flex-direction: column;
    }
    .footer-flex{
        flex-direction: column;
    } */
}
@media (max-width: 950px){
    .wrapper-footer{
        max-width: 920px;
    }
    .wrapper{
        max-width: 920px;
    }
    /* =========flex-dir:row;======== */
    .footer{
        margin-top: 119px;
    }
    .flex-main_page{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main{
        min-height: 90vh;
        margin-top: -135px;
    }
    .move-banner{
        display: none;
        /* position: absolute;
        top: 20px;
        left: 300px;
        z-index: -10; */
    }
    .flex-miny {
        display: flex;
    }
    /* ====================================new mobile animated block!======================= */
    @keyframes road-move-mobile1{
        0%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(4%);
        }
        50%{
            transform: translateX(8%);
        }
        70%{
            transform: translateX(10%);
        }
        100%{
            transform: translateX(0%);
        }
    }
    @keyframes road-move-mobile2{
        0%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(-4%);
        }
        50%{
            transform: translateX(-8%);
        }
        70%{
            transform: translateX(-10%);
        }
        100%{
            transform: translateX(6%);
        }
    }
    @keyframes road-move-mobile3{
        0%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(4%);
        }
        50%{
            transform: translateX(8%);
        }
        70%{
            transform: translateX(10%);
        }
        100%{
            transform: translateX(0%);
        }
    }
    /* ====================================new mobile animated block!======================= */
    .btn-main-page {
        width: 100%;
    }
    .scroll-blog-flex {
        margin-left: 0px;
    }
    /* =================================================footer=================================== */
    .footer-social{
        display: none;
    }
    .footer-flex {
        display: block;
        /* justify-content: space-between;
        flex-direction: column;
        align-items: center; */
    }
    .footer-list_items {
        display: block;
        text-align: left;
    }
    .footer-item{
        margin-left: 0px;
    }
    .flex-social-net{
        display: flex;
        margin-left: 35px;
    }
    .footer-social2{
        display: block;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
    }
/* =================================================footer=================================== */
}
@media (max-width: 650px){
    .wrapper-footer{
        max-width: 630px;
    }
    .wrapper{
        max-width: 630px;
    }
    .hide2{
        display: none;
    }
    .road1-1 {
        justify-content: center;
    }
    .road2-2 {
        justify-content: center;
    }
    .road3-3 {
        justify-content: center;
    }
    .main-page-item1>h1 {
        font-size: 46px;
        text-align: center;
    }
    .elem{
        font-size: 46px;
    }
    .elem2 {
        font-size: 20px;
        text-align: center;
        margin-top: -14px;
    }
    .text-flex1{
        font-size: 12px;
    }
    .text-flex{
        font-size: 12px;
    }
    .text-flex>p{
        font-size: 12px;
    }
    ::-webkit-scrollbar{
        width: 2px;
        margin-left: -5px;
    }
    ::-webkit-scrollbar-track{
        background-color: black;
        height: 70%;
        
    }
    ::-webkit-scrollbar-thumb{
        width: 6px;
        background-color: #478BF9;
        border-radius: 8px;
        border: 0px solid ;
    }
}


@media (max-width: 420px){
    .hide3{
        display: none;
    }
    .wrapper-footer{
        max-width: 100%;
    }
    .wrapper{
        max-width: 400px;
    }
    .scroll-blog {
        width: 318px;
        margin-left: 25px;
    }
    .text-flex1{
        font-size: 10px;
    }
    .text-flex{
        font-size: 10px;
    }
    .text-flex>p{
        font-size: 10px;
    }
    .text-flex {
        padding: 9px 28px;
    }
    .text-flex1 {
        border-radius: 196px;
        margin-top: 16px;
        width: 80%;
        background: #1E1231;
        padding: 9px 28px;
    }
    .scroll-blog {
        height: 455px;
    }
    .social-networks {
        width: 25px;
        height: 25px;
    }
    .social-networks1 {
        width: 25px;
        height: 25px;
    }
    .footer {
        width: 100%;
    }
    @keyframes road-move-mobile1{
        0%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(0%);
        }
        50%{
            transform: translateX(0%);
        }
        70%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(0%);
        }
    }
    @keyframes road-move-mobile2{
        0%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(0%);
        }
        50%{
            transform: translateX(0%);
        }
        70%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(0%);
        }
    }
    @keyframes road-move-mobile3{
        0%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(0%);
        }
        50%{
            transform: translateX(0%);
        }
        70%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(0%);
        }
    }
}

@media (max-width: 315px){
    .scroll-blog {
        width: 260px;
        margin-left: 6px;
    }
    body{
        font-size: 12px;
    }
    .social-networks {
        width: 21px;
        height: 21px;
    }
    .social-networks1 {
        width: 21px;
        height: 21px;
    }
    .com-data{
        font-family: 'Futura PT Book';
        font-size: 9px!important;
    }
}
